@import url(https://fonts.googleapis.com/css?family=Orbitron);

.header-bg{
    background-color: #01012b;
}

.cardb-bg{
    background-color: #01012b;
    
}
.card-main{
    border-color: #ff2a6d;
    border-width: medium;
    color: #05d9e8;
    font-family: 'Orbitron', courier, sans-serif;

}
.cyber-border{
    border-color: #ff2a6d;
    border-width: medium;
}
.button-bg{
    background-color: #005678;
}