.msgtitle {
    text-align: center;
    color: white;
    font-size: 32px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #2f2fa2;
    font-weight: 200;
}
.pu-body{
    background-color: #2f2fa2;
    color: white;
    
}
.messages {
    border: indigo;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: grey;
}
.task {
    border: 2px solid indigo;
    background-color: #2f2fa2;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}
.progress {
    color: lime;
    margin-bottom: 20px;
    font-style: italic;
    text-align: left;
    background-color: grey;
}
.date {
    float: right;
    color: #aaa;
    margin-bottom: 20px;
    font-style: italic;
    text-align: right;
}
.name {
    font-size: 20px;
    font-weight: 300;
}