.grid {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: auto auto auto;
    margin-left: 60px;
    grid-template-areas: 
    "header header header";
}

.grid-header {
    grid-area: header;
    text-align: center;
}

button {
    background: none;
    cursor: pointer;
    border: none;
}

.userProfile {
    position: right;
    text-align: right;
    color: white;
    font-size: 12pt;
}
.editUser {
    position: left;

    text-align: center;
    color: white;
    font-size: 12pt;
}

.userIcon {
    width: 50px;
    height: 50px;
}

.greeting {
    position: relative;
    margin-right: 10px;
    top: -17px;
}

.profile{
    color: white;
}

.delete-button {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
}

.preview {
    position: relative;
    height: 30px;
}

.delete-button-icon {
    width: 20px;
    height: 20px;
}

.create-button {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.create_button {
    width: 200px;
    height: 60px;
    background-color: #f64c72;
}

.MuiButton-root.create_button {
    background-color: transparent;
}

.create-popup {
    text-align: center;
    width: 200px;
    position: absolute;
    bottom: 100px;
    left: 150px;
    
    color: white;
    padding: 15px;
    background-color: #2f2fa2;
}

.create-popup .show {
    visibility: visible;
}


.pu-body{
    background-color: #2f2fa2;
    color: white;
    
}
.pu{
    border: none;
    
}

.card-text{
    color: white;
    font-size: 20pt;
    text-align: center;
}