.grid {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: auto auto auto;
    margin-left: 60px;
    grid-template-areas: 
    "header header header";
}

.grid-header {
    grid-area: header;
    text-align: center;
}

button {
    background: none;
    cursor: pointer;
    border: none;
}

.userProfile {
    position: absolute;
    right: 30px;
    top: 20px;
    text-align: center;
    font-size: 12pt;
}

.userIcon {
    width: 50px;
    height: 50px;
}

.greeting {
    position: relative;
    margin-right: 10px;
    top: -17px;
}


.delete-button {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
}

.preview {
    position: relative;
}

.delete-button-icon {
    width: 20px;
    height: 20px;
}

.create-button {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.create_button {
    width: 200px;
    height: 60px;
}

.MuiButton-root.create_button {
    background-color: transparent;
}

.create-popup {
    text-align: center;
    width: 200px;
    position: absolute;
    bottom: 100px;
    left: 150px;
    border-radius: 6px;
    border-color: black;
    border-style: solid;
    padding: 15px;
}

.create-popup .show {
    visibility: visible;
}
