.preview {
    height: 150px;
    width: 350px;
    background-color: purple;
    position: relative;
}

.title {
    background-color: grey;
    width: 340px;
    position: absolute;
    bottom: 0px;
    font-size: 2rem;
    padding: 5px;
    text-align: center;
    opacity: 70%;
    color: white;
}