.preview {
    height: 150px;
    width: 350px;
    position: relative;
}

.title {
    width: 340px;
    position: absolute;
    bottom: 0px;
    font-size: 2rem;
    padding: 5px;
    text-align: center;
    opacity: 70%;
    background-color: grey;
}